scikit-learn==1.4.2
torch==2.6.0+cu126
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu126
ollama
jupyter
alive_progress
tqdm
pycaret==3.3.2
pandas==2.1.4
numpy==1.24.4
transformers==4.49.0
html-to-markdown
google-genai
accelerate>=0.26.0
clipboard==0.0.4